type project
authors
    Steffen Forkmann, David Tchepak, Sergey Tihon, Daniel Mohl, Tomas Petricek, Ryan Riley, Mauricio Scheffer, Phil Trelford, Vasily Kirichenko, Jeremie Chassaing
tags
    F# fsharp typeproviders regex
projectUrl
    https://fsprojects.github.io/FSharp.Text.RegexProvider/
licenseUrl
    https://github.com/fsprojects/FSharp.Text.RegexProvider/blob/master/LICENSE.txt
copyright
	Copyright 2013 - 2019

